@import '../font/font.css';
@import '../styles/colors.css';
@import '../styles/structures.css';


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: dark;
  font-family: 'Sora';
}


body {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header status'
    'sidebar main'
    'sidebar main';
  
  grid-template-rows: 50px auto 50px;
  grid-template-columns: 250px auto;
  background-color: var(--color-container-background);

  & > .container-status,
  & > .container-sidebar,
  & > .container-main,
  & > .container-quick-access {
    display: grid;
    place-items: center;
    /* border: 1px solid red; */
  }
}
