:root {
  /* https://tailwindcss.com/docs/colors */

  --red-950: hsl(359.29, 79.42%, 15.35%);
  --red-900: hsl(358.8, 69.3%, 30.07%);
  --red-800: hsl(355.94, 91.15%, 32.55%);
  --red-700: hsl(353.32, 100%, 34.72%);
  --red-600: hsl(351.73, 100%, 40.53%);
  --red-500: hsl(356.95, 95.9%, 57.72%);
  --red-400: hsl(358.76, 100%, 69.84%);
  --red-300: hsl(359.73, 100%, 82.22%);
  --red-200: hsl(359.95, 100%, 89.64%);
  --red-100: hsl(359.98, 98.78%, 94.25%);
  --red-50: hsl(360, 88.21%, 97.32%);

  --orange-950: hsl(12.88, 84.81%, 14.42%);
  --orange-900: hsl(15.99, 83.12%, 27.04%);
  --orange-800: hsl(17.27, 100%, 31.01%);
  --orange-700: hsl(20.51, 100%, 34.78%);
  --orange-600: hsl(23.81, 100%, 40.32%);
  --orange-500: hsl(29.2, 100%, 42.64%);
  --orange-400: hsl(31.43, 100%, 51.32%);
  --orange-300: hsl(30.98, 100%, 71.25%);
  --orange-200: hsl(32.18, 100%, 82.86%);
  --orange-100: hsl(34.29, 100%, 91.68%);
  --orange-50: hsl(33.33, 100%, 96.51%);

  --amber-950: hsl(20.9, 96.65%, 13.94%);
  --amber-900: hsl(23.04, 90.17%, 25.26%);
  --amber-800: hsl(25.56, 100%, 27.98%);
  --amber-700: hsl(29.07, 100%, 31.4%);
  --amber-600: hsl(34.92, 100%, 35.7%);
  --amber-500: hsl(40.58, 100%, 38.84%);
  --amber-400: hsl(46.68, 100%, 38.52%);
  --amber-300: hsl(46.82, 100%, 59.53%);
  --amber-200: hsl(48.02, 98.23%, 75.9%);
  --amber-100: hsl(47.99, 97.34%, 88.73%);
  --amber-50: hsl(47.99, 100%, 96.03%);

  --yellow-950: hsl(26.16, 87.52%, 13.96%);
  --yellow-900: hsl(29.52, 83.35%, 24.57%);
  --yellow-800: hsl(34.56, 100%, 24.91%);
  --yellow-700: hsl(38.01, 100%, 27.21%);
  --yellow-600: hsl(42.71, 100%, 31.8%);
  --yellow-500: hsl(47.3, 100%, 35.46%);
  --yellow-400: hsl(49.97, 100%, 36.19%);
  --yellow-300: hsl(51.29, 100%, 56.47%);
  --yellow-200: hsl(52.74, 99.45%, 76.08%);
  --yellow-100: hsl(54.89, 97.52%, 87.84%);
  --yellow-50: hsl(54.55, 90.61%, 95.28%);

  --lime-950: hsl(88.95, 88.62%, 9.61%);
  --lime-900: hsl(86.52, 71.11%, 19.12%);
  --lime-800: hsl(83.18, 100%, 19.28%);
  --lime-700: hsl(81.59, 100%, 20.44%);
  --lime-600: hsl(80.66, 100%, 24.26%);
  --lime-500: hsl(78.99, 100%, 30.03%);
  --lime-400: hsl(76.48, 100%, 35.69%);
  --lime-300: hsl(80.92, 87.66%, 63.65%);
  --lime-200: hsl(80.7, 89.71%, 78.91%);
  --lime-100: hsl(79.56, 89.72%, 89.11%);
  --lime-50: hsl(78.26, 92.84%, 95.14%);

  --green-950: hsl(145.39, 87.57%, 9.65%);
  --green-900: hsl(145.73, 73.08%, 18.99%);
  --green-800: hsl(147.72, 97.15%, 20.36%);
  --green-700: hsl(150, 100%, 20.98%);
  --green-600: hsl(149.95, 100%, 24.27%);
  --green-500: hsl(151.17, 100%, 29.65%);
  --green-400: hsl(150.06, 95.56%, 44.76%);
  --green-300: hsl(142.66, 81.25%, 71.39%);
  --green-200: hsl(141.14, 81.07%, 84.82%);
  --green-100: hsl(140.65, 84.38%, 92.45%);
  --green-50: hsl(138.46, 76.51%, 96.68%);

  --emerald-950: hsl(166.05, 100%, 8.58%);
  --emerald-900: hsl(165.29, 100%, 14.85%);
  --emerald-800: hsl(165.49, 100%, 15.62%);
  --emerald-700: hsl(165.57, 100%, 17.75%);
  --emerald-600: hsl(164.49, 100%, 21.22%);
  --emerald-500: hsl(164.33, 100%, 26.11%);
  --emerald-400: hsl(164.79, 100%, 31.94%);
  --emerald-300: hsl(157.3, 76.25%, 64.25%);
  --emerald-200: hsl(152.54, 77.89%, 80.02%);
  --emerald-100: hsl(149.32, 81.17%, 89.84%);
  --emerald-50: hsl(151.78, 80.95%, 95.82%);

  --teal-950: hsl(178.66, 91.58%, 9.64%);
  --teal-900: hsl(176.3, 76.01%, 17.51%);
  --teal-800: hsl(176.85, 100%, 17.28%);
  --teal-700: hsl(176.37, 100%, 18.75%);
  --teal-600: hsl(175.86, 100%, 21.24%);
  --teal-500: hsl(175.02, 100%, 26.06%);
  --teal-400: hsl(174.78, 100%, 30.68%);
  --teal-300: hsl(171.35, 81.79%, 60.15%);
  --teal-200: hsl(168.51, 85.39%, 77.72%);
  --teal-100: hsl(167.27, 86.98%, 89.13%);
  --teal-50: hsl(166.15, 77.06%, 96.74%);

  --cyan-950: hsl(196.69, 85.44%, 14.55%);
  --cyan-900: hsl(195.82, 72.14%, 22.87%);
  --cyan-800: hsl(192.65, 100%, 23.39%);
  --cyan-700: hsl(190.86, 100%, 24.02%);
  --cyan-600: hsl(189.97, 100%, 27.59%);
  --cyan-500: hsl(187.47, 100%, 31.36%);
  --cyan-400: hsl(186.13, 100%, 34.58%);
  --cyan-300: hsl(186.71, 97.47%, 65.9%);
  --cyan-200: hsl(186.2, 95.77%, 81.44%);
  --cyan-100: hsl(185.11, 96.43%, 90.29%);
  --cyan-50: hsl(183.16, 99.92%, 96.25%);

  --sky-950: hsl(203.63, 87.23%, 15.52%);
  --sky-900: hsl(200.84, 96.98%, 22.39%);
  --sky-800: hsl(199.03, 100%, 23.9%);
  --sky-700: hsl(199.35, 100%, 27.48%);
  --sky-600: hsl(198.44, 100%, 32.9%);
  --sky-500: hsl(195.89, 100%, 37.7%);
  --sky-400: hsl(194.15, 100%, 43.65%);
  --sky-300: hsl(199.1, 100%, 73.08%);
  --sky-200: hsl(200.57, 97.87%, 85.94%);
  --sky-100: hsl(203.99, 96.54%, 93.67%);
  --sky-50: hsl(204, 100%, 97.05%);

  --blue-950: hsl(226.51, 58.74%, 21.15%);
  --blue-900: hsl(224.86, 67.28%, 33.33%);
  --blue-800: hsl(227.1, 75.74%, 41.14%);
  --blue-700: hsl(225.35, 84.1%, 48.98%);
  --blue-600: hsl(221.34, 97.06%, 53.5%);
  --blue-500: hsl(216.89, 100%, 59.61%);
  --blue-400: hsl(212.79, 100%, 66.84%);
  --blue-300: hsl(211.63, 100%, 78.56%);
  --blue-200: hsl(213.33, 100%, 87.28%);
  --blue-100: hsl(214.28, 96.22%, 92.78%);
  --blue-50: hsl(213.75, 96.49%, 96.79%);

  --indigo-950: hsl(244.4, 49.1%, 20.16%);
  --indigo-900: hsl(243.26, 50.34%, 34.77%);
  --indigo-800: hsl(246.14, 60.99%, 41.85%);
  --indigo-700: hsl(247.88, 68.29%, 51.07%);
  --indigo-600: hsl(246.99, 91.66%, 59.53%);
  --indigo-500: hsl(240.97, 100%, 68.98%);
  --indigo-400: hsl(235.61, 100%, 75.23%);
  --indigo-300: hsl(229.92, 100%, 82.67%);
  --indigo-200: hsl(228.05, 100%, 89.09%);
  --indigo-100: hsl(226.46, 100%, 93.98%);
  --indigo-50: hsl(225.88, 100%, 96.69%);

  --violet-950: hsl(262.22, 77.74%, 22.86%);
  --violet-900: hsl(264.88, 74.27%, 34.64%);
  --violet-800: hsl(266.64, 86.27%, 40.44%);
  --violet-700: hsl(268, 93.3%, 46.89%);
  --violet-600: hsl(265.48, 99.08%, 56.49%);
  --violet-500: hsl(260.11, 100%, 67.29%);
  --violet-400: hsl(256.16, 100%, 76.89%);
  --violet-300: hsl(252.81, 100%, 85.88%);
  --violet-200: hsl(250.56, 100%, 91.93%);
  --violet-100: hsl(251.44, 93.48%, 95.5%);
  --violet-50: hsl(250, 98.59%, 97.62%);

  --purple-950: hsl(274.32, 94.3%, 20.66%);
  --purple-900: hsl(274.52, 72.39%, 31.62%);
  --purple-800: hsl(274.93, 82.4%, 37.87%);
  --purple-700: hsl(276.41, 100%, 41.55%);
  --purple-600: hsl(274.91, 96.1%, 52.15%);
  --purple-500: hsl(272.11, 100%, 65.15%);
  --purple-400: hsl(270.72, 100%, 75.3%);
  --purple-300: hsl(269.4, 100%, 85.76%);
  --purple-200: hsl(268.62, 100%, 91.9%);
  --purple-100: hsl(268.7, 99.95%, 95.45%);
  --purple-50: hsl(270, 98.85%, 98.04%);

  --fuchsia-950: hsl(296.75, 99.06%, 15.6%);
  --fuchsia-900: hsl(296.7, 72.35%, 27.25%);
  --fuchsia-800: hsl(295.8, 98.24%, 29.35%);
  --fuchsia-700: hsl(295.49, 100%, 32.26%);
  --fuchsia-600: hsl(294.63, 100%, 38.02%);
  --fuchsia-500: hsl(292.61, 96.35%, 57.51%);
  --fuchsia-400: hsl(292.04, 100%, 71.3%);
  --fuchsia-300: hsl(291.08, 100%, 83.22%);
  --fuchsia-200: hsl(288.26, 100%, 90.7%);
  --fuchsia-100: hsl(286.96, 100%, 95.53%);
  --fuchsia-50: hsl(289.09, 95.95%, 97.79%);

  --pink-950: hsl(335.29, 90.94%, 16.65%);
  --pink-900: hsl(334.27, 78.49%, 29.42%);
  --pink-800: hsl(331.18, 100%, 31.09%);
  --pink-700: hsl(328.87, 100%, 34.25%);
  --pink-600: hsl(326.44, 100%, 40.45%);
  --pink-500: hsl(328.25, 91.82%, 58.2%);
  --pink-400: hsl(327.47, 95.38%, 68.88%);
  --pink-300: hsl(327.09, 96.71%, 82.03%);
  --pink-200: hsl(325.85, 87.87%, 89.84%);
  --pink-100: hsl(325.7, 78.63%, 94.7%);
  --pink-50: hsl(327.28, 71.09%, 97%);

  --rose-950: hsl(342.26, 94.35%, 15.6%);
  --rose-900: hsl(338.93, 89.54%, 28.73%);
  --rose-800: hsl(337.65, 100%, 30%);
  --rose-700: hsl(338.15, 100%, 33.19%);
  --rose-600: hsl(338.01, 100%, 39.17%);
  --rose-500: hsl(345.36, 100%, 56.4%);
  --rose-400: hsl(349.91, 100%, 70.25%);
  --rose-300: hsl(352.25, 100%, 82.19%);
  --rose-200: hsl(352.6, 100%, 90.07%);
  --rose-100: hsl(355.55, 100%, 94.67%);
  --rose-50: hsl(355.72, 96.53%, 97.19%);

  --stone-950: hsl(20.04, 13.84%, 4.13%);
  --stone-900: hsl(24, 9.61%, 9.99%);
  --stone-800: hsl(12, 7.23%, 15.07%);
  --stone-700: hsl(30.02, 7.22%, 25.04%);
  --stone-600: hsl(33.35, 6.28%, 32.24%);
  --stone-500: hsl(25.02, 5.9%, 44.64%);
  --stone-400: hsl(24.01, 5.85%, 63.05%);
  --stone-300: hsl(24.01, 6.69%, 82.98%);
  --stone-200: hsl(20, 6.87%, 89.98%);
  --stone-100: hsl(60.01, 3.65%, 95.94%);
  --stone-50: hsl(60.01, 7.09%, 97.9%);

  --neutral-950: hsl(223.81, 0%, 3.94%);
  --neutral-900: hsl(223.81, 0%, 9.05%);
  --neutral-800: hsl(223.81, 0%, 14.94%);
  --neutral-700: hsl(223.81, 0%, 25.05%);
  --neutral-600: hsl(223.81, 0%, 32.2%);
  --neutral-500: hsl(223.81, 0%, 45.15%);
  --neutral-400: hsl(223.81, 0%, 63.02%);
  --neutral-300: hsl(223.81, 0%, 83.14%);
  --neutral-200: hsl(223.81, 0%, 89.82%);
  --neutral-100: hsl(223.81, 0%, 96.06%);
  --neutral-50: hsl(223.81, 0%, 98.03%);

  --zinc-950: hsl(240.1, 11.24%, 3.98%);
  --zinc-900: hsl(240.02, 6.03%, 9.98%);
  --zinc-800: hsl(240.05, 4.04%, 15.93%);
  --zinc-700: hsl(240.08, 5.74%, 26.15%);
  --zinc-600: hsl(240.13, 6%, 34.16%);
  --zinc-500: hsl(240.1, 4.41%, 46.34%);
  --zinc-400: hsl(240.08, 5.71%, 64.3%);
  --zinc-300: hsl(240.01, 5.38%, 83.97%);
  --zinc-200: hsl(240, 5.86%, 90.03%);
  --zinc-100: hsl(239.99, 3.51%, 95.79%);
  --zinc-50: hsl(223.81, 0%, 98.03%);

  --gray-950: hsl(224.05, 72.24%, 4.17%);
  --gray-900: hsl(221, 41.69%, 11.07%);
  --gray-800: hsl(214.99, 30.99%, 16.95%);
  --gray-700: hsl(216.94, 21.1%, 26.81%);
  --gray-600: hsl(214.99, 15.66%, 34.25%);
  --gray-500: hsl(220.03, 10.26%, 46.3%);
  --gray-400: hsl(217.9, 11.92%, 64.26%);
  --gray-300: hsl(216, 13.12%, 84%);
  --gray-200: hsl(220, 13.57%, 91.05%);
  --gray-100: hsl(220, 14.97%, 95.9%);
  --gray-50: hsl(210, 24.19%, 98.1%);

  --slate-950: hsl(228.82, 85.13%, 5%);
  --slate-900: hsl(222.34, 49.39%, 11.3%);
  --slate-800: hsl(217.28, 36.07%, 17.54%);
  --slate-700: hsl(215.29, 27.93%, 26.85%);
  --slate-600: hsl(215.29, 22.04%, 34.76%);
  --slate-500: hsl(215.38, 18.37%, 47.03%);
  --slate-400: hsl(214.99, 22.59%, 64.5%);
  --slate-300: hsl(212.72, 29.91%, 84.02%);
  --slate-200: hsl(214.28, 32.97%, 91.42%);
  --slate-100: hsl(210, 40.55%, 96.05%);
  --slate-50: hsl(210, 34.55%, 98%);

}
