@import './colors.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  color-scheme: dark;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header status'
    'sidebar main'
    'sidebar quick_access';
  
  grid-template-rows: 50px auto 50px;
  grid-template-columns: 200px auto;
  background-color: var(--color-neutral-800);

  & > div {
    display: grid;
    place-items: center;
    /* border: 1px solid red; */
  }
}
