@import './colors.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: dark;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header status'
    'sidebar main'
    'sidebar main';
  
  grid-template-rows: 50px auto 50px;
  grid-template-columns: 250px auto;
  background-color: var(--color-container-background);

  & > .container-status,
  & > .container-sidebar,
  & > .container-main,
  & > .container-quick-access {
    display: grid;
    place-items: center;
    /* border: 1px solid red; */
  }
}
